* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

body {
    background: white;
}

h1 {
    font-size: 48px;
}

h2{
    font-size: 36px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}


/*Add padding, font-size, and correct display type. */
.nav {
    width: 50%;
    font-size: 24px;
    
}

.nav-items{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1%;
}

ul {
    list-style-type: none;
    padding-bottom: 4%;
}

a {
    text-decoration: none;
    color: black;
}

/*Add black overlay effect when hovering over a link. */
.link-buttons {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.link-buttons:hover {
    background-color: black;
    color: white;
}


#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*Make profile picture cover a large part of the top section of the page, set width percentage and padding for section elements*/
img{
    width: 100%;
    height: auto;
}

#about-me h2{
    padding-top: 4%;
}

.about-me-description{
    padding: 4% 20%;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/*Add background image to each section. Make image represent each project. Add padding.*/
#my-work {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

/*Make first project image bigger then the rest.*/
.horiseon {
    background-image: url('../images/firstproject.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 18%;
}

.restaurant {
    background-image: url('../images/restaurant.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 10%;
}

.magazine {
    background-image: url('../images/magazine.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 10%;
}

.dentistry {
    background-image: url('../images/dentistry.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 10%;
}

#contact-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}


.info {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1%;
}

/*Add media queries for two different screen sizes. (Code above will accomodate largest screen sizes. Third media query option unnecessary*/
@media only screen and (max-width: 767px){
    h1 {
        font-size: 24px;
    }

    .nav {
        width: 75%;
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    h1 {
        font-size: 36px;
    }

    .nav {
        width: 65%;
        font-size: 20px;
    }
}

